.content-container {
  color: white;

  opacity: 0;
  transition: 1s;
}

.active {
  opacity: 1;
  filter: brightness(100%);
}

.content-title {
  border-bottom: 2px solid #ad667d;
  min-width: 200px;
}
