.team-container{
    height: 100vh;
    padding: 2rem 5rem;
    color: white;
    font-family: "RobotoCondensed";
}

.team-title{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.team-members{
    display: flex;
    width: 100%;
    gap: 2rem;
}
.team-members-member{
    width: 33%;
    height: 33%;
}
.team-members-member > img{
    width: 100%;
    height: 100%;
}
.team-members-member-text{
    margin-top: 2rem;
}

.team-members-member-text-name{
    font-weight: bold;
    font-size: 2rem;
}

.team-members-member-text-context{
    font-weight: 200;
    font-size: 1rem;
}