.gallery-container{
    height: 50vh;
    padding: 0rem 5rem;
    position:relative;  
}

.gallery-art{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-art > img{
    height: 100%;
    width: 100%;
}

.slick-slide{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-art-img{
    height: 25%;
    width: 100%;
    filter: brightness(40%);
    position:relative;
    z-index: 578;
    transition: 1s;
}


.gallery-art-img > img{
    width: 250px;
    height: 350px;
    object-fit: cover;
    opacity: 0.4;
}

.active > img {
    width: 400px;
    height: 500px;
    opacity: 1;
    border: 1px solid #ad667d;
    padding: 15px;
}

.slick-slider{
    height: 95vh;
}

.slick-list{
    height: 100%;
}
.slick-track{
    height: 100%;
}

.slick-initialized .slick-slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.gallery-title {
    color: white;
    font-family: 'RobotoCondensed'; 
    font-size: 50px;
    font-weight: bold;
}

.fp-watermark{
    opacity: 0;
}

.slick-prev{
    opacity: 0;
}

.slick-next{
    opacity: 0;
}

.gallery-title-name{
    
}
