.about-container{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    gap: 2rem;
    font-family: "RobotoCondensed";
    height: 100vh;
    max-height:100vh;
    transition: .4s all ease-in;
    transform: translate3d(0%, 5%, 0px) ;
    opacity: 0;
}

.onView{
    transform: translate3d(0%, 0%, 0px);
    opacity: 1;
}

.about-title {
    display: flex;
    justify-content: space-between;
    color: white;
}

.about-title-key {
    margin: 0;
    font-size: 50px;
    font-style: italic;
}

.about-title-text {
    font-size: 14px;
    width: 550px;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-content-key {
    margin: 0;
    font-size: 65px;
    color: #ce8ab3;
    font-style: italic;
}

.about-content-text {
    font-size: 14px;
    color: white;
}

