@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
  }
.point-container {
    color: white;
    font-family: 'RobotoCondensed';
    width: 50%;
    transition: 4s all ease-in;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* .click{
    transform: translate3d(0%, 0%, 0px) ;
    opacity: 1;
} */


.point-title {
    font-size: 2rem;
    font-weight: bold;
}

.point-subtitle {
    font-size: 1rem;
    font-weight: 200;
}

.point-text-title {
    font-size: 1rem;
    font-weight: bold;
}

.point-text-content {
    margin-left:1rem;
    font-size: 1rem;
    font-weight: 200;
}

.point-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.point-content-title{
    font-size: 1rem;
    font-weight: bold;
}

.point-content-title-text{
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

.point-contents {
    margin :1rem;
}

.point-content-date{
    border-radius: 8px;
    background-color: #6041d6;
    padding: 3px;
    display: inline;
    font-weight: 200;
}

.point-content-dates{
    border-radius: 10px;
    background-color: #ce8bb4;
    padding: 3px;
    display: inline;
    font-weight: 200;
}

.point-content-texts{
    display: flex;
    align-items: center;
}