.point-container {
    color: white;
    font-family: 'RobotoCondensed';
    width: 50%;
}

.point-title {
    font-size: 2rem;
    font-weight: bold;
}

.point-subtitle {
    font-size: 1rem;
    font-weight: 200;
}

.point-text-title {
    font-size: 1rem;
    font-weight: bold;
}

.point-text-content {
    font-size: 1rem;
    font-weight: 200;
}

.point-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.point-content-title{
    font-size: 1rem;
    font-weight: bold;
}

.point-content-title-text{
    font-size: 1rem;
    font-weight: 200;
    margin: 1rem;
}

.point-contents {
    margin :1rem;
}

.point-content-date{
    border: 1px solid white;
}

.point-content-texts{}