@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
  }
  to {
    opacity: 1;
  }
}

.navigation-container {
  display: flex;
  position: fixed;
  color: white;
  z-index: 576;
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  font-family: "RobotoCondensed";
  font-weight: bold;
  opacity: 1;
  animation: fadeout 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.navigation-container:hover {
  animation: fadein 1s;
  animation-fill-mode: forwards;
}
.navigation-setting-volum {
  background-image: url("https://s3.us-west-2.amazonaws.com/secure.notion-static.com/43c84100-445d-45a2-b344-41ebccfb0330/round_off_face_revised.gif?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220926%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220926T133718Z&X-Amz-Expires=86400&X-Amz-Signature=7f08217a144649aeb37570c767d540fc2c49468e62b990a0eed936c8e4ec560a&X-Amz-SignedHeaders=host&x-id=GetObject");
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 2rem;
}
.navigation-setting-volum > img {
  width: 100%;
  height: 100%;
}

.notmuck {
  background-image: url("https://s3.us-west-2.amazonaws.com/secure.notion-static.com/803a8e0c-a44a-4546-aec8-74e7ab4a3270/round_on_face_revised.gif?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220926%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220926T133718Z&X-Amz-Expires=86400&X-Amz-Signature=1ceeb6d394338dc88c7b2fe55b2691caece59fa98c041ec7ba1f202c0b30b29c&X-Amz-SignedHeaders=host&x-id=GetObject");
}

.title-image {
  margin-left: 2rem;
}
.navigation-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigation-components {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  gap: 2rem;
}
.navigation-screens {
  display: flex;
  gap: 2rem;
}

.navi-screen:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

.video {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  object-fit: cover;
}
