body{
    margin: 0;
    padding: 0;
    background-image: url('Images/background.png');
    background-size: cover;
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("./Asset/Font/RobotoCondensed-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("./Asset/Font/RobotoCondensed-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("./Asset/Font/RobotoCondensed-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("./Asset/Font/RobotoCondensed-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("./Asset/Font/RobotoCondensed-LightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("./Asset/Font/RobotoCondensed-Regular.ttf");
    font-weight: 600;
}
